@import url('satoshi.css');
*:root {
    --text-noir: #1D1D1F;
    --text-gris: #75757A;
    --fond-blanc: #F5F5F7;
    --fond-articles: #FAFAFA;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--fond-blanc);
    font-family: 'Satoshi-Medium';
}

.navbar {
    width: 100vw;
    height: 100px;
    position: static;
    background: rgba(245, 245, 247, 0.6);
    justify-content: center;
    align-items: center;
    display: flex;
}
.container {
    position: relative;
    display: flex;
    width: 80%;
    max-width: 1700px;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
.content_left,
.content_right {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: transparent;
}
.logo {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 50px;
}
.menu {
    display: none;
    border: none;
}
.pages {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
.pages a,
.liens a {
    text-decoration: none;
    color: var(--text-noir);
    margin-right: 15px;
    font-size: 17px;
    background: transparent;
}
.content_right a {
    margin-right: 15px;
    background: transparent;
}
svg {
    background: transparent;
}
.close {
    display: none;
    border: none;
    margin: auto;
}

/*---------------RESPONSIVE---------------*/


.navbar_mobile {
    width: 100vw;
    height: 100vh;
    position: static;
    background: rgba(245, 245, 247, 0.6);
    display: flex;
    flex-direction: column;
}
.container_mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
    justify-content: start;
}
.content_right_mobile {
    display: flex;
    flex-direction: column-reverse;
    margin: 50px auto;
    height: fit-content;
}
.content_left_mobile {
    margin: 27px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content_left_mobile .logo{
    position: absolute;
}
.content_left_mobile a {
    margin: 0 auto 30px auto;
}
.liens_mobile {
    display: flex;
    align-items: center;
    margin: 70px auto 130px auto;
    gap: 35px;
}
.liens_mobile a {
    margin: 20px auto;
    width: 35px;
    height: 35px;
}
.liens_mobile a svg {
    width: 40px;
    height: 40px;
}
.pages_mobile {
    display: flex !important;
    flex-direction: column;
    margin: 150px auto 0 auto;
}


@media screen and (max-width: 790px) {
    .container {
        width: 90%;
    }
    .pages {
        display: none;
    }
    .liens {
        display: none;
    }
    .logo img{
        width: 90px;
    }
    .menu {
        display: flex;
    }

}

@media screen and (max-width: 768px) {  

}

@media screen and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) {

}

